<ul class="nav navbar-nav"> 
    <li ui-sref-active="active">
        <a >Información General</a>
    </li>
    <li ng-if="role == 'docente'" ui-sref-active="active">
        <a >Cartelera Educativa</a>
    </li>
    <li ng-if="role == 'docente'"ui-sref-active="active">
        <a >Cartelera de Eventos</a>
    </li>
    <li ng-if="role == 'docente'" ui-sref-active="active">
    	<a >Suscriptores</a>
    </li>
    <li ng-if="role == 'docente'" ui-sref-active="active">
    	<a >Novedades</a>
    </li>
 	<li ng-if="role == 'administrador'" ui-sref-active="active">
        <a >Editar Carteleras</a>
    </li>
    <li ng-if="role == 'administrador'" ui-sref-active="active">
        <a >Editar Publicaciones</a>
    </li>
    <li ng-if="role == 'administrador'"ui-sref-active="active">
        <a >Templates</a>
    </li>
    <li ng-if="role == 'administrador'" ui-sref-active="active">
    	<a >Administración de Usuarios</a>
    </li>
    <li ui-sref-active="active">
    	<a ui-sref="operacion">Todas las Carteleras</a>
    </li>
</ul>